<div id="header">
    <a href="#home" target="_top">Start</a>
    <a href="#about" target="_top">Über</a>
    <a href="#portfolio" target="_top">Projekte</a>
    <a href="#contact" target="_top">Kontakt</a>
</div>